<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">
	<resultMap type="userVo" id="userResultMap">
		<result property="userid" column="userid" javaType="String" jdbcType="VARCHAR"/>
		<result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
		<result property="gender" column="gender" javaType="String" jdbcType="VARCHAR"/>
		<result property="city" column="city" javaType="String" jdbcType="VARCHAR"/>
	</resultMap>
	
	<select id="selectUser" parameterType="String" resultType="userVo" resultMap="userResultMap">
		SELECT *
		FROM users
		WHERE userid = #{userid};
	</select>
	
	<select id="selectAllUsers" resultType="userVo" resultMap="userResultMap">
		SELECT * FROM users ORDER BY userid DESC;
	</select>
	
	<insert id="insertUser" parameterType="userVo" >
		INSERT INTO users VALUES(#{userid}, #{name}, #{gender}, #{city});
	</insert>
	
	<delete id="deleteUser" parameterType="String">
		DELETE FROM users WHERE userid = #{userid};
	</delete>
	
	<update id="updateUser" parameterType="userVo">
		UPDATE users SET name = #{name}, gender = #{gender}, city = #{city} WHERE userid = #{userid};
	</update>
	
</mapper>